.container {
  width: clamp(300px, 70vw, 1000px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
}